<!DOCTYPE HTML>
<html>
    <head>
        <title>Hello,Momo</title>
        <link rel='stylesheet' type='text/css' href='basic_css.css'>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>The site is currently being updated!</p>
    </body>
</html>